<mat-card>
  <mat-action-list>
    <div mat-subheader>Available </div>

    <button mat-list-item routerLink="/user-dashboard/0">
      <mat-icon mat-list-icon>quiz</mat-icon> Manage
    </button>
    <!-- <button
      [routerLink]="'/user-dashboard/' + c.cid"
      mat-list-item
      *ngFor="let c of categories"
    > -->
    <button
    [routerLink]="'/user-dashboard/home-card'"
    mat-list-item
  >
      <mat-icon mat-list-icon>quiz</mat-icon> home-card
    </button>

    <button
    [routerLink]="'/user-dashboard/transaction'"
    mat-list-item
  >
      <mat-icon mat-list-icon>quiz</mat-icon> transaction
    </button>

  <button
  [routerLink]="'/user-dashboard/notification'"
  mat-list-item
>
    <mat-icon mat-list-icon>quiz</mat-icon> notification
  </button>
</mat-action-list>

</mat-card>
<!-- {{ categories | json }} -->
