server:
  port: 8091

spring:
  application:
    name: transaction-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8088
#Datasource
  datasource:
    url: jdbc:mysql://localhost:3306/transactiondatabase
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Satgaino1@

#Jpa
  jpa:
    hibernate:
      ddl-auto: update
  activemq:
    broker-url:

#Kafka
  kafka:
    consumer:
      properties:
        spring:
          json:
            trusted:
              packages: "*"

#Jeager
tracing:
  url: http://localhost:4318/v1/traces

#Actuator
management:
  tracing:
    sampling:
      probability: 1.0

#Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

#spring:
#  config:
#    import: configserver:http://localhost:9005
